<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <br>
  <ion-title style="text-align: center;"><h3><b style="background-color: Warning;">ช่องทางการติดต่อ</b></h3></ion-title>
  <p style="text-indent: 5%;">เบอร์โทร : 062 541 0872</p>
  <p style="text-indent: 5%;">Instagram : kaomankai</p>
  <p style="text-indent: 5%;">Facebook : wan Chayapon</p>
 
 
</ion-content>